# Injected into Android and iOS bundles at build time. Leave blank locally to
# disable monitoring. Use https://eu.i.posthog.com for an EU-hosted project.
POSTHOG_API_KEY=
POSTHOG_HOST=https://us.i.posthog.com
